## Load data

In [1]:
import pandas as pd

embeddings = pd.read_hdf('data/mini.h5')

In [14]:
embeddings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1635499 entries, /c/de/####er to /c/zh/𫚉鱼
Columns: 300 entries, 0 to 299
dtypes: int8(300)
memory usage: 560.4+ MB

## Chinese vocabs

In [9]:
chinese = embeddings[embeddings.index.str.startswith('/c/zh')]
chinese

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
/c/zh/##cm,21,25,-14,-1,7,-4,4,1,-5,3,...,0,1,0,3,2,0,0,0,-1,-3
/c/zh/0,0,1,0,5,2,-1,3,1,3,2,...,-3,-3,-6,-3,-2,-2,-1,-3,-4,2
/c/zh/0.5,0,1,-1,0,3,5,6,1,7,-6,...,3,-1,0,5,-2,-1,6,1,0,0
/c/zh/1,1,2,-2,4,0,-2,4,-1,1,2,...,0,-5,-2,-5,7,0,0,5,-1,3
/c/zh/1s,1,3,-3,-4,2,-1,5,-9,-4,8,...,5,0,0,1,0,-5,1,3,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
/c/zh/龟裂,0,0,6,1,2,-3,2,-1,1,0,...,-1,-6,-3,-1,-6,0,-1,0,-2,1
/c/zh/龠,-1,1,0,1,-2,2,3,-1,-2,-2,...,-1,-14,6,-6,5,-6,1,-3,5,5
/c/zh/龢,4,0,-3,-1,3,7,0,9,3,-1,...,0,-6,4,5,2,-2,0,-1,0,2
/c/zh/𫓧,-1,-2,0,-1,5,0,-1,-1,-2,-1,...,3,9,-8,8,1,7,-8,-5,-6,0
/c/zh/𫚉鱼,-2,1,0,2,0,1,6,0,-3,-3,...,4,1,0,-2,6,-3,0,8,-8,2

In [15]:
chinese.info()

<class 'pandas.core.frame.DataFrame'>
Index: 270235 entries, /c/zh/##cm to /c/zh/𫚉鱼
Columns: 300 entries, 0 to 299
dtypes: int8(300)
memory usage: 89.4+ MB

In [13]:
chinese[chinese.index.str.startswith('/c/zh/事')]

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
/c/zh/事,5,3,-6,-2,3,0,0,1,7,0,...,0,-1,3,-1,-1,0,-2,3,-4,4
/c/zh/事与愿违,14,17,3,-11,3,-11,-2,0,0,3,...,2,-1,1,2,-2,2,0,-7,-1,0
/c/zh/事业,4,0,-11,0,2,-1,-2,6,9,-8,...,1,-4,4,0,0,3,-2,-2,-6,3
/c/zh/事业化,-1,-1,0,1,3,-1,-4,5,1,-1,...,0,0,-2,-5,0,4,2,-1,-1,1
/c/zh/事业心,0,0,-4,-1,0,1,2,3,3,-3,...,-3,0,1,-5,2,-6,3,5,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
/c/zh/事項,3,0,-5,-1,4,2,0,-1,7,5,...,-1,2,-1,-2,-2,4,-2,0,-2,1
/c/zh/事頭,3,0,-7,-3,-1,2,2,-3,6,0,...,-2,1,-3,1,-2,4,-1,2,1,3
/c/zh/事頭婆,0,5,-4,-2,-5,2,1,-6,2,-2,...,4,0,-5,0,0,0,-1,0,4,5
/c/zh/事项,3,0,-5,-1,4,2,0,-1,6,5,...,0,2,0,-3,-2,6,-3,0,-2,0
/c/zh/事體,3,0,-4,-6,0,0,0,0,6,1,...,-1,4,8,-1,-4,2,0,-1,-3,1

In [31]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

def get_cosine_similarity(word1: str, word2: str) -> float:
    vec1 = chinese.loc[f'/c/zh/{word1}'].to_numpy()
    vec2 = chinese.loc[f'/c/zh/{word2}'].to_numpy()
    return cosine_similarity(vec1.reshape(1, -1), vec2.reshape(1, -1))[0][0]

get_cosine_similarity('歡欣', '歡樂')

0.3720811684652536